{% if is_read_write_course and is_course_admin %}
  <a id="gcb-edit-lesson-button"
      href="dashboard?action=edit_lesson&key={{ lesson.lesson_id }}"
      class="gcb-button gcb-button-action gcb-button-author">Edit  Lesson</a>
{% endif %}
<p>User email: {{user and user.user_id()}}. User id: {{user and user.email()}}. Unit paid is: {{ unit.is_paid }}. Paid student is: {{ student and student.has_paid }}. Can see drafts: {{ can_see_drafts }}. Lesson available: {{ lesson.now_available }}. </p>
{% if (lesson.now_available or can_see_drafts) and (not unit.is_paid or unit.is_paid and paid_student) %}
  <div {% if lesson.notes %}class="gcb-cols"{% endif %}>
    <div id="lesson-title" {% if lesson.notes %}class="gcb-col-7"{% endif %}>
      <h1 class="gcb-lesson-title">
        {{ title }}
        {% if not lesson.now_available and can_see_drafts %}
          <span id="lesson-title-private">
            (Private)
          </span>
        {% endif %}
      </h1>
    </div>
    {% if lesson.notes %}
    <div id="get-text-button" class="gcb-col-3">
      <p style="float:right; margin-top: 0px;">
        <a role="button" class="gcb-button" id="lessonNotesLink"
           href="{{ lesson.notes }}" target="_blank">
          {# I18N: Link to a text version of a lesson video. #}
          {{ gettext('Text Version') }}
        </a>
      </p>
    </div>
    {% endif %}
  </div><!-- /gcb-cols -->

  {% if activity %}
    {% include 'activity.html' %}
  {% else %}
    {% include 'lesson.html' %}
  {% endif %}

{% elif lesson.now_available and unit.is_paid and not paid_student %}
  <h1 class="gcb-lesson-title">
    {{ lesson.title }}
  </h1>
  <br><br>
  <div>
    {# I18N: Text shown for a lesson that was not paid for. #}
    {{ gettext('This lesson is only available to premium users. Buy access to the entire course for only 49 CHF')}}
    <!-- form name="_xclick" action="https://www.paypal.com/cgi-bin/webscr" method="post">
      <input type="hidden" name="cmd" value="_xclick">
      <input type="hidden" name="business" value="niklausumiker-facilitator@gmail.com">
      <input type="hidden" name="currency_code" value="CHF">
      <input type="hidden" name="item_name" value="Zugang zu www.ch-de.ch">
      <input type="hidden" name="amount" value="49">
      <input type="image" src="http://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif" border="0" name="submit" alt="Jetz bezahlen">
    </form-->
    <!-- <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="G7FZVYJMEAT38">
<input type="image" src="https://www.paypalobjects.com/en_US/CH/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
     -->
    <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="hosted_button_id" value="594CBZZHGLXUS">
      <input type="hidden" name="custom" value="{{user.email()}}">
      <input type="image" src="https://www.sandbox.paypal.com/en_US/CH/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
      <img alt="" border="0" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </form>
          
  </div>

{% else %}
  <h1 class="gcb-lesson-title">
    {{ lesson.title }}
  </h1>
  <br><br>
  <div>
    {# I18N: Text shown for a lesson that has not been made public. #}
    {{ gettext('This lesson is not available.')}}
  </div>
{% endif %}
