
<style>
.wrap {
    height: 30px;
}
.noshow, .wrap:hover .show {
    display: none
}
.wrap:hover .noshow {
    display: block
}
</style>

<style>
p, table, th, td {
    border: 0px transparent;
    font-size:14.0pt;
    font-family:'Sylfaen','serif'
}
</style>

<!--StartFragment-->
<p>
Listen to how the transformation rules are applied to the words below. <br>After that, pronounce each of the words out loud. Only the highlighted letters change.
</p>
<p>
  <audio controls="">
  <source src="assets/laute1.mp3" type="audio/mp3">
Your browser does not support the audio element.
</audio>
</p>

<table width="100%" border="0">
<tbody><tr><td width="50%" border="0">
<p class="wrap" id='albisriederstrasse'  onclick="playAudio(this)">
  Albisr<span style="background:yellow">ie</span>derstrass<span style="background:yellow">e</span>
  <button style="float:right" class="gcb-button-author noshow">
  <img style="vertical-align:middle" src="assets/img/speaker_icon16.png">
  </button>
</p>

<p class="wrap" id='augustinergasse'  onclick="playAudio(this)">
  Augu<span style="background:yellow">s</span>tinergass<span style="background:yellow">e</span>
  <button style="float:right" class="gcb-button-author noshow">
  <img style="vertical-align:middle" src="assets/img/speaker_icon16.png">
  </button>
</p>

<p class="wrap" id='beatenplatz'  onclick="playAudio(this)">
  Beate<span style="background:yellow">n</span>platz
  <button style="float:right" class="gcb-button-author noshow">
  <img style="vertical-align:middle" src="assets/img/speaker_icon16.png">
  </button>
</p>

<p class="wrap" id='bei'  onclick="playAudio(this)">
  b<span style="background:yellow">ei</span>
  <button style="float:right" class="gcb-button-author noshow">
  <img style="vertical-align:middle" src="assets/img/speaker_icon16.png">
  </button>
</p>

<p class="wrap" id='beim'  onclick="playAudio(this)">
  b<span style="background:yellow">ei</span><span>m</span>
  <button style="float:right" class="gcb-button-author noshow">
  <img style="vertical-align:middle" src="assets/img/speaker_icon16.png">
  </button>
</p>

<p class="wrap" id='bucheggplatz'  onclick="playAudio(this)">
  B<span style="background:yellow">u</span>cheggplatz
  <button style="float:right" class="gcb-button-author noshow">
  <img style="vertical-align:middle" src="assets/img/speaker_icon16.png">
  </button>
</p>

<p class="wrap" id='bucheggstrasse'  onclick="playAudio(this)">
  B<span style="background:yellow">u</span>cheggstrass<span style="background:yellow">e</span>
  <button style="float:right" class="gcb-button-author noshow">
  <img style="vertical-align:middle" src="assets/img/speaker_icon16.png">
  </button>
</p>

<p class="wrap" id='deutsch'  onclick="playAudio(this)">
  D<span style="background:yellow">eu</span>tsch
  <button style="float:right" class="gcb-button-author noshow">
  <img style="vertical-align:middle" src="assets/img/speaker_icon16.png">
  </button>
</p>

<p class="wrap" id='eisengasse'  onclick="playAudio(this)">
  <span style="background:yellow">Ei</span><span>se<span style="background:yellow">n</span>gass<span style="background:yellow">e</span>
  <button style="float:right" class="gcb-button-author noshow">
  <img style="vertical-align:middle" src="assets/img/speaker_icon16.png">
  </button>
</p>

<p class="wrap" id='eisgasse'  onclick="playAudio(this)">
  <span style="background:yellow">Ei</span><span>sgass<span style="background:yellow">e</span>
  <button style="float:right" class="gcb-button-author noshow">
  <img style="vertical-align:middle" src="assets/img/speaker_icon16.png">
  </button>
</p>

<p class="wrap" id='falkenstrasse'  onclick="playAudio(this)">
  Falke<span style="background:yellow">n</span>strass<span style="background:yellow">e</span>
  <button style="float:right" class="gcb-button-author noshow">
  <img style="vertical-align:middle" src="assets/img/speaker_icon16.png">
  </button>
</p>

<p class="wrap" id='felsenstrasse'  onclick="playAudio(this)">
  Felse<span style="background:yellow">n</span>strass<span style="background:yellow">e</span>
  <button style="float:right" class="gcb-button-author noshow">
  <img style="vertical-align:middle" src="assets/img/speaker_icon16.png">
  </button>
</p>

<p class="wrap" id='fichtenstrasse'  onclick="playAudio(this)">
  Fichte<span style="background:yellow">n</span>strass<span style="background:yellow">e</span>
  <button style="float:right" class="gcb-button-author noshow">
  <img style="vertical-align:middle" src="assets/img/speaker_icon16.png">
  </button>
</p>

<p class="wrap" id='frauenbrünnelistrasse'  onclick="playAudio(this)">
  Fraue<span style="background:yellow">n</span>brünnelistrass<span style="background:yellow">e</span>
  <button style="float:right" class="gcb-button-author noshow">
  <img style="vertical-align:middle" src="assets/img/speaker_icon16.png">
  </button>
</p>

<p class="wrap" id='fraumünster'  onclick="playAudio(this)">
  Fraumün<span style="background:yellow">s</span>ter
  <button style="float:right" class="gcb-button-author noshow">
  <img style="vertical-align:middle" src="assets/img/speaker_icon16.png">
  </button>
</p>

<p class="wrap" id='freiensteinstrasse'  onclick="playAudio(this)">
  Freie<span style="background:yellow">n</span>stei<span style="background:yellow">n</span>strass<span style="background:yellow">e</span>
  <button style="float:right" class="gcb-button-author noshow">
  <img style="vertical-align:middle" src="assets/img/speaker_icon16.png">
  </button>
</p>

<p class="wrap" id='freigutstrasse'  onclick="playAudio(this)">
  Freig<span style="background:yellow">u</span>tstrass<span style="background:yellow">e</span>
  <button style="float:right" class="gcb-button-author noshow">
  <img style="vertical-align:middle" src="assets/img/speaker_icon16.png">
  </button>
</p>

<p class="wrap" id='gartenhofstrasse'  onclick="playAudio(this)">
  Garte<span style="background:yellow">n</span>hofstrass<span style="background:yellow">e</span>
  <button style="float:right" class="gcb-button-author noshow">
  <img style="vertical-align:middle" src="assets/img/speaker_icon16.png">
  </button>
</p>

<p class="wrap" id='gartenstrasse'  onclick="playAudio(this)">
  Garte<span style="background:yellow">n</span>strass<span style="background:yellow">e</span>
  <button style="float:right" class="gcb-button-author noshow">
  <img style="vertical-align:middle" src="assets/img/speaker_icon16.png">
  </button>
</p>

<p class="wrap" id='gasse'  onclick="playAudio(this)">
  Gass<span style="background:yellow">e</span>
  <button style="float:right" class="gcb-button-author noshow">
  <img style="vertical-align:middle" src="assets/img/speaker_icon16.png">
  </button>
</p>

<p class="wrap" id='gassen'  onclick="playAudio(this)">
  Gasse<span style="background:yellow">n</span>
  <button style="float:right" class="gcb-button-author noshow">
  <img style="vertical-align:middle" src="assets/img/speaker_icon16.png">
  </button>
</p>

<p class="wrap" id='georgengasse'  onclick="playAudio(this)">
  George<span style="background:yellow">n</span>gass<span style="background:yellow">e</span>
  <button style="float:right" class="gcb-button-author noshow">
  <img style="vertical-align:middle" src="assets/img/speaker_icon16.png">
  </button>
</p>

<p class="wrap" id='grossmünster'  onclick="playAudio(this)">
  Grossmün<span style="background:yellow">s</span>ter
  <button style="float:right" class="gcb-button-author noshow">
  <img style="vertical-align:middle" src="assets/img/speaker_icon16.png">
  </button>
</p>

<p class="wrap" id='gut'  onclick="playAudio(this)">
  g<span style="background:yellow">u</span>t
  <button style="float:right" class="gcb-button-author noshow">
  <img style="vertical-align:middle" src="assets/img/speaker_icon16.png">
  </button>
</p>

<p class="wrap" id='hallenbad'  onclick="playAudio(this)">
  Halle<span style="background:yellow">n</span>bad
  <button style="float:right" class="gcb-button-author noshow">
  <img style="vertical-align:middle" src="assets/img/speaker_icon16.png">
  </button>
</p>

</td><td width="50%">
<p class="wrap" id='hallenstadion'  onclick="playAudio(this)">
  Halle<span style="background:yellow">n</span>stadion
  <button style="float:right" class="gcb-button-author noshow">
  <img style="vertical-align:middle" src="assets/img/speaker_icon16.png">
  </button>
</p>

<p class="wrap" id='hofstrasse'  onclick="playAudio(this)">
  Hofstrass<span style="background:yellow">e</span>
  <button style="float:right" class="gcb-button-author noshow">
  <img style="vertical-align:middle" src="assets/img/speaker_icon16.png">
  </button>
</p>

<p class="wrap" id='in'  onclick="playAudio(this)">
  i<span style="background:yellow">n</span>
  <button style="float:right" class="gcb-button-author noshow">
  <img style="vertical-align:middle" src="assets/img/speaker_icon16.png">
  </button>
</p>

<p class="wrap" id='kantonsschule'  onclick="playAudio(this)">
  Kantonssch<span style="background:yellow">u</span>l<span style="background:yellow">e</span>
  <button style="float:right" class="gcb-button-author noshow">
  <img style="vertical-align:middle" src="assets/img/speaker_icon16.png">
  </button>
</p>

<p class="wrap" id='kongresshaus'  onclick="playAudio(this)">
  Kongressh<span style="background:yellow">au</span>s
  <button style="float:right" class="gcb-button-author noshow">
  <img style="vertical-align:middle" src="assets/img/speaker_icon16.png">
  </button>
</p>

<p class="wrap" id='kornhausstrasse'  onclick="playAudio(this)">
  <span style="background:yellow">K</span><span>ornh<span style="background:yellow">au</span>sstrass<span style="background:yellow">e</span>
  <button style="float:right" class="gcb-button-author noshow">
  <img style="vertical-align:middle" src="assets/img/speaker_icon16.png">
  </button>
</p>

<p class="wrap" id='krone'  onclick="playAudio(this)">
  <span style="background:yellow">K</span><span>rone
  <button style="float:right" class="gcb-button-author noshow">
  <img style="vertical-align:middle" src="assets/img/speaker_icon16.png">
  </button>
</p>

<p class="wrap" id='kunsthaus'  onclick="playAudio(this)">
  Kun<span style="background:yellow">s</span>th<span style="background:yellow">au</span>s
  <button style="float:right" class="gcb-button-author noshow">
  <img style="vertical-align:middle" src="assets/img/speaker_icon16.png">
  </button>
</p>

<p class="wrap" id='nein'  onclick="playAudio(this)">
  nei<span style="background:yellow">n</span>
  <button style="float:right" class="gcb-button-author noshow">
  <img style="vertical-align:middle" src="assets/img/speaker_icon16.png">
  </button>
</p>

<p class="wrap" id='oper'  onclick="playAudio(this)">
  Ope<span style="background:yellow">r</span>
  <button style="float:right" class="gcb-button-author noshow">
  <img style="vertical-align:middle" src="assets/img/speaker_icon16.png">
  </button>
</p>

<p class="wrap" id='rathaus'  onclick="playAudio(this)">
  Rath<span style="background:yellow">au</span>s
  <button style="float:right" class="gcb-button-author noshow">
  <img style="vertical-align:middle" src="assets/img/speaker_icon16.png">
  </button>
</p>

<p class="wrap" id='rotbuchstrasse'  onclick="playAudio(this)">
  Rotb<span style="background:yellow">u</span>chstrass<span style="background:yellow">e</span>
  <button style="float:right" class="gcb-button-author noshow">
  <img style="vertical-align:middle" src="assets/img/speaker_icon16.png">
  </button>
</p>

<p class="wrap" id='schaffhauserplatz'  onclick="playAudio(this)">
  Schaffh<span style="background:yellow">au</span>serplatz
  <button style="float:right" class="gcb-button-author noshow">
  <img style="vertical-align:middle" src="assets/img/speaker_icon16.png">
  </button>
</p>

<p class="wrap" id='schaffhauserstrasse'  onclick="playAudio(this)">
  Schaffh<span style="background:yellow">au</span>serstrass<span style="background:yellow">e</span>
  <button style="float:right" class="gcb-button-author noshow">
  <img style="vertical-align:middle" src="assets/img/speaker_icon16.png">
  </button>
</p>

<p class="wrap" id='schanzengraben'  onclick="playAudio(this)">
  Schanze<span style="background:yellow">n</span>grabe<span style="background:yellow">n</span>
  <button style="float:right" class="gcb-button-author noshow">
  <img style="vertical-align:middle" src="assets/img/speaker_icon16.png">
  </button>
</p>

<p class="wrap" id='schauspielhaus'  onclick="playAudio(this)">
  Schauspielh<span style="background:yellow">au</span>s
  <button style="float:right" class="gcb-button-author noshow">
  <img style="vertical-align:middle" src="assets/img/speaker_icon16.png">
  </button>
</p>

<p class="wrap" id='schweizer'  onclick="playAudio(this)">
  Schw<span style="background:yellow">ei</span>zer
  <button style="float:right" class="gcb-button-author noshow">
  <img style="vertical-align:middle" src="assets/img/speaker_icon16.png">
  </button>
</p>

<p class="wrap" id='schweizerdeutsch'  onclick="playAudio(this)">
  Schw<span style="background:yellow">ei</span>zerd<span style="background:yellow">eu</span>tsch
  <button style="float:right" class="gcb-button-author noshow">
  <img style="vertical-align:middle" src="assets/img/speaker_icon16.png">
  </button>
</p>

<p class="wrap" id='stadthaus'  onclick="playAudio(this)">
  Stadth<span style="background:yellow">au</span>s
  <button style="float:right" class="gcb-button-author noshow">
  <img style="vertical-align:middle" src="assets/img/speaker_icon16.png">
  </button>
</p>

<p class="wrap" id='strasse'  onclick="playAudio(this)">
  Strass<span style="background:yellow">e</span>
  <button style="float:right" class="gcb-button-author noshow">
  <img style="vertical-align:middle" src="assets/img/speaker_icon16.png">
  </button>
</p>

<p class="wrap" id='strassen'  onclick="playAudio(this)">
  Strasse<span style="background:yellow">n</span>
  <button style="float:right" class="gcb-button-author noshow">
  <img style="vertical-align:middle" src="assets/img/speaker_icon16.png">
  </button>
</p>

<p class="wrap" id='vielendank'  onclick="playAudio(this)">
  viele<span style="background:yellow">n</span> Dank
  <button style="float:right" class="gcb-button-author noshow">
  <img style="vertical-align:middle" src="assets/img/speaker_icon16.png">
  </button>
</p>

<p class="wrap" id='von'  onclick="playAudio(this)">
  vo<span style="background:yellow">n</span>
  <button style="float:right" class="gcb-button-author noshow">
  <img style="vertical-align:middle" src="assets/img/speaker_icon16.png">
  </button>
</p>

<p class="wrap" id='weit'  onclick="playAudio(this)">
  w<span style="background:yellow">ei</span>t
  <button style="float:right" class="gcb-button-author noshow">
  <img style="vertical-align:middle" src="assets/img/speaker_icon16.png">
  </button>
</p>

<p class="wrap" id='weiter'  onclick="playAudio(this)">
  w<span style="background:yellow">ei</span>ter
  <button style="float:right" class="gcb-button-author noshow">
  <img style="vertical-align:middle" src="assets/img/speaker_icon16.png">
  </button>
</p>
</td></tr></tbody></table>