

<style>
p, table, th, td {
    border: 0px transparent;
    font-size:14.0pt;
    font-family:'Sylfaen','serif'
}
</style>

<!--StartFragment-->
<p>
Listen to how the transformation rules are applied to the words below. <br>After that, pronounce each of the words out loud. Only the highlighted letters change.
</p>
<p>
  <audio controls="">
  <source src="assets/laute1.mp3" type="audio/mp3">
Your browser does not support the audio element.
</audio>
</p>

<table width="100%" border="0">
<tbody><tr><td width="50%" border="0">
<p><span>Albisr<span style="background:yellow">ie</span>derstrass<span style="background:yellow">e</span></span></p>

<p><span>Augu<span style="background:yellow">s</span>tinergass<span style="background:yellow">e</span></span></p>

<p><span>Beate<span style="background:yellow">n</span>platz</span></p>

<p><span>b<span style="background:yellow">ei</span></span></p>

<p><span>b<span style="background:yellow">ei</span><span>m</span></span></p>

<p><span>B<span style="background:yellow">u</span>cheggplatz</span></p>

<p><span>B<span style="background:yellow">u</span>cheggstrass<span style="background:yellow">e</span></span></p>

<p><span>D<span style="background:yellow">eu</span>tsch</span></p>

<p><span style="background:yellow">Ei</span><span>se<span style="background:yellow">n</span>gass<span style="background:yellow">e</span></span></p>

<p><span style="background:yellow">Ei</span><span>sgass<span style="background:yellow">e</span></span></p>

<p><span>Falke<span style="background:yellow">n</span>strass<span style="background:yellow">e</span></span></p>

<p><span>Felse<span style="background:yellow">n</span>strass<span style="background:yellow">e</span></span></p>

<p><span>Fichte<span style="background:yellow">n</span>strass<span style="background:yellow">e</span></span></p>

<p><span>Fraue<span style="background:yellow">n</span>brünnelistrass<span style="background:yellow">e</span></span></p>

<p><span>Fraumün<span style="background:yellow">s</span>ter</span></p>

<p><span>Freie<span style="background:yellow">n</span>stei<span style="background:yellow">n</span>strass<span style="background:yellow">e</span></span></p>

<p><span>Freig<span style="background:yellow">u</span>tstrass<span style="background:yellow">e</span></span></p>

<p><span>Garte<span style="background:yellow">n</span>hofstrass<span style="background:yellow">e</span></span></p>

<p><span>Garte<span style="background:yellow">n</span>strass<span style="background:yellow">e</span></span></p>

<p><span>Gass<span style="background:yellow">e</span></span></p>

<p><span>Gasse<span style="background:yellow">n</span></span></p>

<p><span>George<span style="background:yellow">n</span>gass<span style="background:yellow">e</span></span></p>

<p><span>Grossmün<span style="background:yellow">s</span>ter</span></p>

<p><span>g<span style="background:yellow">u</span>t</span></p>

<p><span>Halle<span style="background:yellow">n</span>bad</span></p>

</td><td width="50%">
<p><span>Halle<span style="background:yellow">n</span>stadion</span></p>

<p><span>Hofstrass<span style="background:yellow">e</span></span></p>

<p><span>i<span style="background:yellow">n</span></span></p>

<p><span>Kantonssch<span style="background:yellow">u</span>l<span style="background:yellow">e</span></span></p>

<p><span>Kongressh<span style="background:yellow">au</span>s</span></p>

<p><span style="background:yellow">K</span><span>ornh<span style="background:yellow">au</span>sstrass<span style="background:yellow">e</span></span></p>

<p><span style="background:yellow">K</span><span>rone</span></p>

<p><span>Kun<span style="background:yellow">s</span>th<span style="background:yellow">au</span>s</span></p>

<p><span>nei<span style="background:yellow">n</span></span></p>

<p><span>Ope<span style="background:yellow">r</span></span></p>

<p><span>Rath<span style="background:yellow">au</span>s</span></p>

<p><span>Rotb<span style="background:yellow">u</span>chstrass<span style="background:yellow">e</span></span></p>

<p><span>Schaffh<span style="background:yellow">au</span>serplatz</span></p>

<p><span>Schaffh<span style="background:yellow">au</span>serstrass<span style="background:yellow">e</span></span></p>

<p><span>Schanze<span style="background:yellow">n</span>grabe<span style="background:yellow">n</span></span></p>

<p><span>Schauspielh<span style="background:yellow">au</span>s</span></p>

<p><span>Schw<span style="background:yellow">ei</span>zer</span></p>

<p><span>Schw<span style="background:yellow">ei</span>zerd<span style="background:yellow">eu</span>tsch</span></p>

<p><span>Stadth<span style="background:yellow">au</span>s</span></p>

<p><span>Strass<span style="background:yellow">e</span></span></p>

<p><span>Strasse<span style="background:yellow">n</span></span></p>

<p><span>viele<span style="background:yellow">n</span> Dank</span></p>

<p><span>vo<span style="background:yellow">n</span></span></p>

<p><span>w<span style="background:yellow">ei</span>t</span></p>

<p><span>w<span style="background:yellow">ei</span>ter</span></p>
</td></tr></tbody></table>