<style>
p, table, th, td {
    border: 0px transparent;
    font-size:14.0pt;
    font-family:'Sylfaen','serif'
}
.wrap {
    height: 30px;
}
.noshow, .wrap:hover .show {
    display: none
}
.wrap:hover .noshow {
    display: block
}
</style>
<!--StartFragment-->
<p>
Listen to how the transformation rules are applied to the words below. <br>After that, pronounce each of the words out loud. Only the highlighted letters change.
</p>
<p>
  <audio controls="">
  <source src="assets/laute1.mp3" type="audio/mp3">
Your browser does not support the audio element.
</audio>
</p>

<table width="100%" border="0">
<tbody><tr><td width="50%" border="0">
<p><span class="wrap"><span class="show">Albisriederstrasse</span><span class="noshow">Albisr<span style="background:orange">ie</span>derstrass<span style="background:orange">e</span></span></span></p>

<p><span class="wrap"><span class="show">Augustinergasse</span><span class="noshow">Augu<span style="background:orange">s</span>tinergass<span style="background:orange">e</span></span></span></p>

<p><span class="wrap"><span class="show">Beatenplatz</span><span class="noshow">Beate<span style="background:orange">n</span>platz</span></span></p>

<p><span class="wrap"><span class="show">bei</span><span class="noshow">b<span style="background:orange">ei</span></span></span></p>

<p><span class="wrap"><span class="show">beim</span><span class="noshow">b<span style="background:orange">ei</span><span>m</span></span></span></p>

<p><span class="wrap"><span class="show">Bucheggplatz</span><span class="noshow">B<span style="background:orange">u</span>cheggplatz</span></span></p>

<p><span class="wrap"><span class="show">Bucheggstrasse</span><span class="noshow">B<span style="background:orange">u</span>cheggstrass<span style="background:orange">e</span></span></span></p>

<p><span class="wrap"><span class="show">Deutsch</span><span class="noshow">D<span style="background:orange">eu</span>tsch</span></span></p>

<p><span class="wrap"><span class="show">Eisengasse</span><span class="noshow"><span style="background: orange">Ei</span><span>se<span style="background:orange">n</span>gass<span style="background:orange">e</span></span></span></span></p>

<p><span class="wrap"><span class="show">Eisgasse</span><span class="noshow"><span style="background: orange">Ei</span><span>sgass<span style="background:orange">e</span></span></span></span></p>

<p><span class="wrap"><span class="show">Falkenstrasse</span><span class="noshow">Falke<span style="background:orange">n</span>strass<span style="background:orange">e</span></span></span></p>

<p><span class="wrap"><span class="show">Felsenstrasse</span><span class="noshow">Felse<span style="background:orange">n</span>strass<span style="background:orange">e</span></span></span></p>

<p><span class="wrap"><span class="show">Fichtenstrasse</span><span class="noshow">Fichte<span style="background:orange">n</span>strass<span style="background:orange">e</span></span></span></p>

<p><span class="wrap"><span class="show">Frauenbrünnelistrasse</span><span class="noshow">Fraue<span style="background:orange">n</span>brünnelistrass<span style="background:orange">e</span></span></span></p>

<p><span class="wrap"><span class="show">Fraumünster</span><span class="noshow">Fraumün<span style="background:orange">s</span>ter</span></span></p>

<p><span class="wrap"><span class="show">Freiensteinstrasse</span><span class="noshow">Freie<span style="background:orange">n</span>stei<span style="background:orange">n</span>strass<span style="background:orange">e</span></span></span></p>

<p><span class="wrap"><span class="show">Freigutstrasse</span><span class="noshow">Freig<span style="background:orange">u</span>tstrass<span style="background:orange">e</span></span></span></p>

<p><span class="wrap"><span class="show">Gartenhofstrasse</span><span class="noshow">Garte<span style="background:orange">n</span>hofstrass<span style="background:orange">e</span></span></span></p>

<p><span class="wrap"><span class="show">Gartenstrasse</span><span class="noshow">Garte<span style="background:orange">n</span>strass<span style="background:orange">e</span></span></span></p>

<p><span class="wrap"><span class="show">Gasse</span><span class="noshow">Gass<span style="background:orange">e</span></span></span></p>

<p><span class="wrap"><span class="show">Gassen</span><span class="noshow">Gasse<span style="background:orange">n</span></span></span></p>

<p><span class="wrap"><span class="show">Georgengasse</span><span class="noshow">George<span style="background:orange">n</span>gass<span style="background:orange">e</span></span></span></p>

<p><span class="wrap"><span class="show">Grossmünster</span><span class="noshow">Grossmün<span style="background:orange">s</span>ter</span></span></p>

<p><span class="wrap"><span class="show">gut</span><span class="noshow">g<span style="background:orange">u</span>t</span></span></p>

<p><span class="wrap"><span class="show">Hallenbad</span><span class="noshow">Halle<span style="background:orange">n</span>bad</span></span></p>

</td><td width="50%">
<p><span class="wrap"><span class="show">Hallenstradion</span><span class="noshow">Halle<span style="background:orange">n</span>stadion</span></span></p>

<p><span class="wrap"><span class="show">Hofstrasse</span><span class="noshow">Hofstrass<span style="background:orange">e</span></span></span></p>

<p><span class="wrap"><span class="show">in</span><span class="noshow">i<span style="background:orange">n</span></span></span></p>

<p><span class="wrap"><span class="show">Kantonsschule</span><span class="noshow">Kantonssch<span style="background:orange">u</span>l<span style="background:orange">e</span></span></span></p>

<p><span class="wrap"><span class="show">Kongresshaus</span><span class="noshow">Kongressh<span style="background:orange">au</span>s</span></span></p>

<p><span class="wrap"><span class="show">Kornhausstrasse</span><span class="noshow"><span style="background: orange">K</span><span>ornh<span style="background:orange">au</span>sstrass<span style="background:orange">e</span></span></span></span></p>

<p><span class="wrap"><span class="show">Krone</span><span class="noshow"><span style="background: orange">K</span><span>rone</span></span></span></p>

<p><span class="wrap"><span class="show">Kunsthaus</span><span class="noshow">Kun<span style="background:orange">s</span>th<span style="background:orange">au</span>s</span></span></p>

<p><span class="wrap"><span class="show">nein</span><span class="noshow">nei<span style="background:orange">n</span></span></span></p>

<p><span class="wrap"><span class="show">Oper</span><span class="noshow">Ope<span style="background:orange">r</span></span></span></p>

<p><span class="wrap"><span class="show">Rathaus</span><span class="noshow">Rath<span style="background:orange">au</span>s</span></span></p>

<p><span class="wrap"><span class="show">Rotbuchstrasse</span><span class="noshow">Rotb<span style="background:orange">u</span>chstrass<span style="background:orange">e</span></span></span></p>

<p><span class="wrap"><span class="show">Schaffhauserplatz</span><span class="noshow">Schaffh<span style="background:orange">au</span>serplatz</span></span></p>

<p><span class="wrap"><span class="show">Schaffhauserstrasse</span><span class="noshow">Schaffh<span style="background:orange">au</span>serstrass<span style="background:orange">e</span></span></span></p>

<p><span class="wrap"><span class="show">Schanzengraben</span><span class="noshow">Schanze<span style="background:orange">n</span>grabe<span style="background:orange">n</span></span></span></p>

<p><span class="wrap"><span class="show">Schauspielhaus</span><span class="noshow">Schauspielh<span style="background:orange">au</span>s</span></span></p>

<p><span class="wrap"><span class="show">Schweizer</span><span class="noshow">Schw<span style="background:orange">ei</span>zer</span></span></p>

<p><span class="wrap"><span class="show">Schweizerdeutsch</span><span class="noshow">Schw<span style="background:orange">ei</span>zerd<span style="background:orange">eu</span>tsch</span></span></p>

<p><span class="wrap"><span class="show">Stadthaus</span><span class="noshow">Stadth<span style="background:orange">au</span>s</span></span></p>

<p><span class="wrap"><span class="show">Strasse</span><span class="noshow">Strass<span style="background:orange">e</span></span></span></p>

<p><span class="wrap"><span class="show">Strassen</span><span class="noshow">Strasse<span style="background:orange">n</span></span></span></p>

<p><span class="wrap"><span class="show">vielen Dank</span><span class="noshow">viele<span style="background:orange">n</span> Dank</span></span></p>

<p><span class="wrap"><span class="show">von</span><span class="noshow">vo<span style="background:orange">n</span></span></span></p>

<p><span class="wrap"><span class="show">weit</span><span class="noshow">w<span style="background:orange">ei</span>t</span></span></p>

<p><span class="wrap"><span class="show">weiter</span><span class="noshow">w<span style="background:orange">ei</span>ter</span></span></p>

</td></tr></tbody></table>